@import variables.sass

form
	text-align: left
	margin: 0 auto 0 auto

span.error
	font-size: 0.7em
	color = !red

label
	&.field
		+float_left
		height: 1.2em
		width: 8em
		margin: 0.5em
		padding: 0.5em
		text-align: right
		color = !gray

	&.field-nofloat
		color = !gray
		
	&.field-nontext
		+float_left
		height: 1.2em
		width: 8em
		margin: 0.5em
		padding: 0.5em
		text-align: right
		color = !gray
		margin-top: 0.25em
		padding-top: 0

div.submit
	margin-left: 10em
	
div.submit-options
	clear: left
	margin-left: 8em
	text-align: center

div.field-nontext
	text-align: center
	width: 31em
	
input
	font-size: 1em
	
	&.field
		+rounded_border
		width: 20em
		height: 2.5em
		margin: 0.5em
		padding: 0.5em

	&.field-nofloat
		margin: 0.5em
		margin-left: 10.5em
		
	&.button
		+rounded_border
		width: 7.5em
		margin: 0.5em
		padding: 0.25em
		height: 2.5em
		border = "1px dashed " + !gray
		
	&.small-button
		font-size: 0.8em
		+rounded_border
		width: 4em
		margin: 0.5em
		padding: 0.25em
		border = "1px dashed " + !gray
	
	&.free-button
		+float_right
		+rounded_border
		margin: 0.5em
		padding: 0.25em
		border = "1px dashed " + !gray
			
	&.actualfile
		+rounded_border
		width: 11.5em
		height: 2.5em
		margin: 0.5em
		padding: 0.5em

	&.file
		position: relative
		text-align: right
		-moz-opacity: 0
		filter: alpha(opacity: 0)
		opacity: 0
		z-index: 2
		width: 22em
		font-size: 1em
		height: 3.5em

div.select
	padding-top: 0.5em
	font-size: 1em
	height: 3.0em

textarea.field
	+rounded_border
	font-family = !fonts_normal
	width: 20em
	height: 10em
	margin: 0.5em
	padding: 0.5em
	font-size: 1em

div
	&.fileinput
		position: relative
		margin-left: 10em
		height: 3.5em

	&.fakefile
		position: absolute
		top: 0px
		left: 0px
		z-index: 1
		margin: 0
		padding: 0
		width: 25em
		height: 100%

ul.field
	width: 20em
	margin-left: 10.5em
	
	li
		+rounded_border
		list-style: none
		margin-left: 0
		padding-left: 0

span.editable
	form
		display: inline
		
		input
			display: inline
			width: 30em
			
div.editable,p.editable,td.editable,span.editable
	color = !dark_blue
	
	&:hover
		background-color = !very_light_blue
		color = !red
		
h1.editable
	color = !red
	
	&:hover
		background-color = !very_light_blue
		color = !dark_blue