@import variables.sass

form
	text-align: left
	margin: 0 auto 0 auto

.error
	font-size: 0.7em
	color = !red

label
	&.field
		+float_left
		height: 1.2em
		width: 8em
		margin: 0.5em
		padding: 0.5em
		text-align: right
		color = !gray
	
	&.field-nofloat
		color = !gray
	
input
	font-size: 1em
	
	&.field
		+rounded_border
		width: 20em
		height: 1.2em
		margin: 0.5em
		padding: 0.5em
	
	&.field-nofloat
		margin: 0.5em
		margin-left: 10.5em
	
	&.submit
		margin: 0.5em
		margin-left: 10.5em
		width: 11em
		clear: left
	
	&.button
		width: 7.5em
		margin: 0.5em
	
	&.actualfile
		+rounded_border
		width: 11.5em
		height: 1.2em
		margin: 0.5em
		padding: 0.5em
	
	&.file
		position: relative
		text-align: right
		-moz-opacity:0
		filter:alpha(opacity: 0)
		opacity: 0
		z-index: 2
		width: 22em
		font-size: 1em
		height: 3.5em

div.select
	padding-top: 0.5em
	font-size: 1em
	height: 3.0em

textarea.field
	+rounded_border
	font-family = !fonts_normal
	width: 20em
	height: 10em
	margin: 0.5em
	padding: 0.5em
	font-size: 1em

div
	&.fileinput
		position: relative
		margin-left: 10em
		height: 3.5em
	
	&.fakefile
		position: absolute
		top: 0px
		left: 0px
		z-index: 1
		margin: 0
		padding: 0
		width: 25em
		height: 100%