@import variables.sass

body
	font-family = !fonts_normal
	background-color = !tan
	font-size: 1em

strong, em, b, i
	font-family = !fonts_styled

.clear
	clear: both
	width: 0
	height: 0
	margin: 0
	padding: 0

h1
	width: 100%
	
	margin: 0
		bottom: 1em
	
	padding: 0
		bottom: 0.5em
	
	border-bottom = !dashed_border
	
	font-size: 1.5em
	
	color = !red
	text-align: center
	
	a
		color = !red

h2
	width: 100%
	margin: 0
		top: 1em
		bottom: 1em
	padding: 0
		bottom: 0.5em
	
	border-bottom = !dashed_border
	font-size: 1.2em
	color = !dark_blue
	text-align: center

a
	color = !dark_blue
	text-decoration: none
	
	&:hover
		color = !red
	
	img
		border: none

#notice
	color = !green
