@import variables.sass

body
	font-family = !fonts_normal
	background-color = !tan
	font-size: 1em
	text-align: center
	behavior: url("/stylesheets/csshover3.htc")
	
strong, em, b, i
	font-family = !fonts_styled

a
	color = !dark_blue
	text-decoration: none
	
	&:hover
		color = !red
	
	img
		border: none
		
.clear
	display: block
	width: 0
	height: 0
	margin: 0
	clear: both
	
h1
	width: 100%
	margin: 0
	bottom: 1em
	padding: 0
	bottom: 0.5em
	border-bottom = !dashed_border
	font-size: 2em
	color = !red
	text-align: center
	font-weight: normal
	
	a
		color = !red

h2
	width: 100%
	margin: 0
	top: 1em
	bottom: 1em
	padding: 0
	bottom: 0.5em
	border-bottom = !dashed_border
	font-size: 1.2em
	color = !dark_blue
	text-align: center

p
	margin-top: 0.5em
	line-height: 1.5em
	
em
	font-style: normal
	border-bottom = "3px solid " + !green
	
p.notice
	text-align: center
	color = !green

p.error
	text-align: center
	color = !red

p.label
	float: left
	text-align: right
	width: 10em
	margin: 0
	margin-right: 0.5em
	color = !dark_blue
	clear: left
	height: 2em
	
p.detail
	height: 2em
	margin: 0