@import variables.sass

#settings-profile
	.help
		+float_right
		text-align: left
		width: 25em
		
	form
		margin: 0
		width: 33em
		
#settings-privacy
	width: 100%
	margin: 0
	text-align: left

.edit_user 
	text-align: center
	width: 100%
