@import variables.sass

#soundwalk-profile
	text-align: left
	margin: 0
	padding: 0
	
	h1
		text-align: left
		border: none
		margin: 0
		
	#profile-avatar
		float: left
		border = !thick_border
		margin: 0
		margin-right: 1em
		
	#profile-menu
		border-bottom = !solid_border
		padding-bottom: 0.5em
		
	#profile-details
	
#new-soundwalk
	.help
		+float_right
		text-align: left
		width: 25em
	
	form
		margin: 0
		width: 33em

table
	tr
		margin: 0
		
		th
			color = !dark_blue
			border-bottom = !dashed_border
			margin: 0
			padding: 0.5em
		
		td
			margin: 0
			padding: 0.5em
