@import variables.sass

#new-sound
	.help
		+float_right
		text-align: left
		width: 25em
		
	form
		margin: 0
		width: 33em

#upload-sounds
	text-align: center
	.help
		+float_right
		text-align: left
		width: 25em

	form
		margin: 0
		width: 33em
		
#sound-index
	font-size: 0.8em
	width: 40em
	margin: 0 auto 0 auto
	padding: 0
	
	tr
		margin: 0
		padding: 0
		border: 0
		
		&:hover
			background-color = !very_light_blue
			
		th
			color = !dark_blue
			border: 0
			border-bottom = !dashed_border
			margin: 0
			padding: 0.5em
			
		td
			margin: 0
			border: 0
			padding: 0.5em

#sound-map
	+float_right
	width = !square_map_width
	height = !square_map_height
	border = !thick_border

#sound-navigation
	text-align: center
	
	.previous
		font-size: 3em
		vertical-align: middle
		
	.current
		font-size: 5em
		vertical-align: middle
		
	.next
		font-size: 3em
		vertical-align: middle
		
#sound-features
	text-align: center
