@import variables.sass

#stream
	display: table
	margin: none
	padding: none
	padding-left: 0
	width: 34em
	border-spacing: 0
	
	li
		display: table-row
		list-style: none
		margin: none
		padding: none
		
		&:hover
			background-color = !very_light_blue

div
	&.map_item
		display: table
		width: 15em
		margin: 0
		padding: 0
		font-size: 0.8em
		
	&.update_avatar
		display: table-cell
		width: 4em
		text-align: center
		padding-top: 0.5em
		border-bottom = !dashed_border
		padding-bottom: 0.5em
		
	&.update_content
		display: table-cell
		vertical-align: top
		padding-top: 0.5em
		padding-bottom: 0.5em
		z-order: 2
		border-bottom = !dashed_border
	
	&.soundwalk_meta
		+float_right
		width: 11em
		margin: 0.5em
		text-align: left
		color = !gray
		font-size: .8em
		font-style: italic
		
	&.soundwalk_delete
		+float_right
		margin: 0.5em
		font-size: .8em
		z-order: 1
		
span.delete_button
	color = !red
		
span
	&.soundwalk_title
		margin-bottom: 0.5em
		font-weight: bold
		text-align: left
		
	&.soundwalk_description 
		display: block
		text-align: left
		
.pages
	width: 34em
	text-align: center
	