@import variables.sass

#stream
	display: table
	margin: none
	padding: none
	padding-left: 0
	width: 34em
	border-spacing: 0
	
	li
		display: table-row
		list-style: none
		margin: none
		padding: none
		
		&:hover
			background-color = !very_light_blue

div		
	&.stream-item-avatar
		display: table-cell
		width: 4em
		text-align: center
		padding-top: 0.5em
		border-bottom = !dashed_border
		padding-bottom: 0.5em
		
	&.stream-item-content
		display: table-cell
		vertical-align: top
		padding-top: 0.5em
		padding-bottom: 0.5em
		z-order: 2
		border-bottom = !dashed_border
	
	&.stream-item-meta
		+float_right
		width: 12em
		margin: 0.5em
		text-align: left
		color = !gray
		font-size: .7em
		font-style: italic
		
	&.stream-item-delete
		+float_right
		margin: 0.5em
		font-size: .7em
		z-order: 1
		
span.stream-item-delete-button
	color = !red
		
span
	&.stream-item-title
		margin-bottom: 0.5em
		font-weight: bold
		text-align: left
		
	&.stream-item-description
		display: block
		text-align: left
		
.pages
	width: 34em
	text-align: center
	