@import variables.sass

form
	#uploader
		text-align: center
		margin-top: 1em
		padding: 0
		
		#file-uploader-container
			vertical-align: middle
			display: inline-block
			position: relative
			overflow: hidden
			width: 8em
			height: 2.25em
			
			embed
				width: 10em
				height: 2.25em
			
			p
				margin: 0
				padding: 0
				
				#file-upload-button
					display: block
				
			#file-uploaderUploader
				background: transparent
				position: absolute
				z-index: 2
				left: 0
				top: 0
				
#upload-status
	vertical-align: middle
	text-align: right
	width: 30em
	margin: 0
	padding: 1em
	
.fileUploadQueue
	border = !dashed_border
	font-size: 0.8em
	background: transparent
	position: relative
	padding: 0.5em
	margin-top: 1em
	width: 38em
	z-index: 2

=queue_item
	border-bottom = "1px solid " + !blue
	position: relative
	font-size: 1em
	height: 2.25em
	width: 100%
	z-index: 3
	
	.cancel
		line-height: 100%
		position: absolute
		top: 0
		left: 28em
		width: 9em
		height: 1.75em
		padding: 0.5em
		vertical-align: middle
		text-align: right
		z-index: 5
		overflow: hidden
	
	.filename
		line-height: 100%
		position: absolute
		top: 0
		left: 0
		width: 27em
		height: 1.75em
		padding: 0.5em
		vertical-align: middle
		display: inline
		z-index: 5
		overflow: hidden
		
	.progress
		position: absolute
		height: 100%
		width: 100%
		z-index: 4
		left: 0
		top: 0
		
		.bar
			text-align: right
			background-color = !very_light_gray
			border-right = "2px solid " + !light_green
			height: 100%
	
	.delete_button
		color = !red
	
.fileUploadQueueItem-Active
	+queue_item
	
.fileUploadQueueItem-Complete
	background-color = !very_light_blue
	+queue_item
	
.fileUploadQueueItem-Canceled
	background-color = !light_red
	+queue_item
	
	.progress
		.bar
			background-color = !light_red