// Colors.
!red = #bf3030
!light_red = !red / 2 + #999999
!very_light_red = !light_red / 2 + #FF8888

!green = #9dbf30
!light_green = !green + #226622
!very_light_green = !green / 2 + #99ffbc

!dark_blue = #223241
!blue = !dark_blue / 2 + #999999
!light_blue = #a3bfbf
!very_light_blue = !light_blue / 2 + #999999

!tan = #efebe6
!gray = #888888
!light_gray = #efefef
!dark_gray = !gray / 2
!very_light_gray = #f8f8f8
// Fonts.
!fonts_normal = "Lucida Sans Unicode", "Lucida Grande", "Verdana", "Arial", "Helvetica", "sans-serif"
!fonts_styled = "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", "Verdana", "Arial", "Helvetica", "sans-serif"

// Borders.
!dashed_border = "1px dashed #a3bfbf"
!thick_border = "3px double #a3bfbf"
!solid_border = "1px solid #a3bfbf"

// Dimensions.
!big_width = 60em
!little_width = 35em

// Maps.
!square_map_width = 22em
!square_map_height = 22em
!rectangle_map_height = 10em

// Mixins.
=float_left
	display: block
	float: left
	
=float_right
	display: block
	float: right
	
=rounded_border
	-moz-border-radius: 0.5em
	-webkit-border-radius: 0.5em
	border-radius: 0.5em
	border = "1px dashed " + !gray
