<%

map = GoogleMap.new(:scroll_wheel_zoom => true, :controls => [:zoom, :scale], :map_type => 'G_HYBRID_MAP')

# Sounds.
@sounds.each do |sound|
	html = 'Sound ' + sound.id.to_s + '<br />' + embed_sound_tag(@soundwalk, sound, 20, 1.6)
	map.markers << GoogleMapMarker.new(:map => map, :lat => sound.lat, :lng => sound.lng, :html => html, :icon => medium_marker_icon)
end

# GPS track.
map.overlays << GoogleMapPolyline.new(:vertices => @soundwalk.vertices, :color => '#55ef55', :weight => 4, :opacity => 0.75)

%>

<%= map.to_html %>
<div id='soundwalk-map'>
	<%= map.div %>
</div>
