<div id='user-profile'>
	<div id='profile-avatar'><%= avatar_tag(user, :size => 92, :alt => user.name) %></div>
	<h1><%= user.name %></h1>
	<div id='profile-menu'><a>Soundwalks</a> | <a>Follow</a> | <a>X Followers</a>, <a>X Following</a>, <a>X Groups</a></div> 
	<div class='clear'></div>
</div>