- content_for :title do
	Latest soundwalks
	
- content_for :javascript do
	= javascript_include_tag 'lib/jquery'

- if logged_in?
	%h1 Latest soundwalks
	- if current_user.following_soundwalks.count > 0
		= render :partial => 'soundwalks/soundwalks_map', :locals => {:soundwalks => @soundwalks}
		
		%h3
			Only friends &#124; 
			%a{:href => '/soundwalks/'} Everyone
			
		= render :partial => 'soundwalks/soundwalks_index', :locals => {:show_users => :true, :soundwalks => @soundwalks}
		= render :partial => 'shared/pagination', :locals => {:page => @page, :pages => @pages, :options => {:controller => :home}}
	- elsif current_user.friends.count > 0
		%p None of the people you are following have posted any soundwalks.
	- else
		%p You are not following anyone.
- else
	%p{:class => 'invitation'} Hey there! Are you new to Soundwalks? We're a community dedicated to exploring the world's rich sonic landscape. With Soundwalks, you can share your acoustic experiences and explore new soundscapes with our interactive sound map. <a href="/about">Read more about us</a> and <a href="/signup">join today!</a>