- content_for :title do
	Popular Tags

%div.invitation
	%h1 Popular Tags
	%p Here is a list of the most popular tags on Soundwalks. Tags are colored according to similar meaning and acoustic quality. Check back soon for additional features such as searching for sounds based on tag queries.
	
%p{:style => 'text-align: center'}= formatted_tag_cloud(200)
