- content_for :title do
	New Soundwalk

%h1 New Soundwalk

%div#soundwalk-form
	%div.help
		%h2 GPS Tracks
		%p 
			To make a new soundwalk, first upload a GPS trace of your walk. Soundwalks currently only supports |
			the <em>GPX format</em>, which is available from most commercial GPS devices. The |
			#{link_to 'OpenStreetMap wiki', 'http://wiki.openstreetmap.org/'} is a great source of information on |
			#{link_to 'how to save GPX files', 'http://wiki.openstreetmap.org/wiki/Beginners_Guide_1.1.1'} and |
			#{link_to 'what type of hardware', 'http://wiki.openstreetmap.org/wiki/Hardware_Guide'} you can use to |
			record GPS tracks.
		
		%h2 Privacy
		%p 
			If you select the <em>private</em> privacy option, only you will be able to view the soundwalk. By |
			default, any soundwalk that contains no sounds will be private. The <em>friends-only</em> options |
			allows only people you follow to see your soundwalk, and <em>public</em> allows anyone with or without |
			an account to see it.
		
		%h2 Sounds
		%p 
			Once you have completed this form, you can choose to save your Soundwalk for later editing or continue to |
			upload sounds to it. Make sure to publish your soundwalk as <em>private</em> if you do not wish people to |
			be able to see your soundwalk until you have finished uploading sounds. You can change this later. 

	= render :partial => 'form', :locals => {:new_soundwalk => true}

