%embed{:type => "application/x-shockwave-flash", 
	:src => "http://www.google.com/reader/ui/3247397568-audio-player.swf?audioUrl=#{soundwalk_sound_url(soundwalk, sound)}.wav",
	:style => "width: 100%; height: 27px",
	:allowscriptaccess => "never",
	:quality => "best",
	:bgcolor => "#ffffff",
	:wmode => "window",
	:flashvars => "playerMode=embedded"}/

