<h1>Sounds for <%= @soundwalk.title %></h1>

<div id='indexcontainer'>
	<p>
		<%= link_to 'upload sound', new_soundwalk_sound_path(@soundwalk) %>
	</p>
	
	<%= render :partial => 'shared/sounds_map' %>
	<%= render :partial => 'shared/sounds_index' %>
</div>
